@import url(https://fonts.googleapis.com/css?family=Gilda+Display);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i);





body {
  font-family: Roboto;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.7;
}
.display-1 {
  font-family: 'Gilda Display', serif;
  font-size: 4.5rem;
}
.display-1 > .mbr-iconfont {
  font-size: 7.2rem;
}
.display-2 {
  font-family: 'Gilda Display', serif;
  font-size: 3.5rem;
}
.display-2 > .mbr-iconfont {
  font-size: 5.6rem;
}
.display-4 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.2rem;
}
.display-5 {
  font-family: 'Gilda Display', serif;
  font-size: 1.9rem;
}
.display-5 > .mbr-iconfont {
  font-size: 3.04rem;
}
.display-7 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.44rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.6rem;
    font-size: calc( 2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.8rem;
    font-size: calc( 1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.52rem;
    font-size: calc( 1.315rem + (1.9 - 1.315) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.315rem + (1.9 - 1.315) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  border-radius: 0;
  font-weight: 600;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 2px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: -webkit-inline-flex;
  padding: 10px 15px;
  border-radius: 0px;
}
.btn-sm {
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 5px 10px;
  border-radius: 0px;
}
.btn-md {
  font-weight: 600;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 0px;
}
.btn-lg {
  font-weight: 600;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 0px;
}
.bg-primary {
  background-color: #c19b76 !important;
}
.bg-success {
  background-color: #92bda3 !important;
}
.bg-info {
  background-color: #709faf !important;
}
.bg-warning {
  background-color: #b7b6b6 !important;
}
.bg-danger {
  background-color: #e26c5a !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #c19b76 !important;
  border-color: #c19b76 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #a17549 !important;
  border-color: #a17549 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a17549 !important;
  border-color: #a17549 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #709faf !important;
  border-color: #709faf !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #4c7887 !important;
  border-color: #4c7887 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #4c7887 !important;
  border-color: #4c7887 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #92bda3 !important;
  border-color: #92bda3 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #62a07b !important;
  border-color: #62a07b !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #62a07b !important;
  border-color: #62a07b !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #b7b6b6 !important;
  border-color: #b7b6b6 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #918f8f !important;
  border-color: #918f8f !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #918f8f !important;
  border-color: #918f8f !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #e26c5a !important;
  border-color: #e26c5a !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #cc3a24 !important;
  border-color: #cc3a24 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #cc3a24 !important;
  border-color: #cc3a24 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #808080;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none !important;
  border-color: #906841 !important;
  color: #906841 !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff !important;
  background-color: #c19b76 !important;
  border-color: #c19b76 !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c19b76 !important;
  border-color: #c19b76 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none !important;
  border-color: #000000 !important;
  color: #000000 !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none !important;
  border-color: #426977 !important;
  color: #426977 !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff !important;
  background-color: #709faf !important;
  border-color: #709faf !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #709faf !important;
  border-color: #709faf !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none !important;
  border-color: #58916f !important;
  color: #58916f !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff !important;
  background-color: #92bda3 !important;
  border-color: #92bda3 !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #92bda3 !important;
  border-color: #92bda3 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none !important;
  border-color: #848383 !important;
  color: #848383 !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff !important;
  background-color: #b7b6b6 !important;
  border-color: #b7b6b6 !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #b7b6b6 !important;
  border-color: #b7b6b6 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none !important;
  border-color: #b63420 !important;
  color: #b63420 !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff !important;
  background-color: #e26c5a !important;
  border-color: #e26c5a !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #e26c5a !important;
  border-color: #e26c5a !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none !important;
  border-color: #000000 !important;
  color: #000000 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #c19b76 !important;
}
.text-secondary {
  color: #333333 !important;
}
.text-success {
  color: #92bda3 !important;
}
.text-info {
  color: #709faf !important;
}
.text-warning {
  color: #b7b6b6 !important;
}
.text-danger {
  color: #e26c5a !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #906841 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #58916f !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #426977 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #848383 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b63420 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #709faf;
}
.alert-warning {
  background-color: #b7b6b6;
}
.alert-danger {
  background-color: #e26c5a;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #c19b76;
  border-color: #c19b76;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #c19b76;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e9dbce;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #e1ede6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c2d6dd;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #f6f6f6;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
  -webkit-transform: rotate(45deg);
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.44rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #c19b76;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
  -webkit-justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #c19b76;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #c19b76;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c19b76;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c19b76;
}
/* Headers*/
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.mbr-section-title {
  letter-spacing: 1px;
  margin: 0;
}
.mbr-section-subtitle {
  letter-spacing: 2px;
  margin: 0;
}
.mbr-section-btn .btn {
  font-weight: 700;
}
.mbr-section-btn .btn-sm {
  padding: .3rem 1rem !important;
}
.mbr-section-btn .btn-md {
  padding: .5rem 2rem !important;
}
.mbr-section-btn .btn-lg {
  padding: 1rem 2.2rem !important;
}
.mbr-text {
  letter-spacing: 1px;
}
.mbr-lighter {
  font-weight: 100 !important;
}
body {
  color: #333333;
}
.up-z-index {
  z-index: 1000 !important;
}
.cid-r6Nc23mlZb .nav-item:focus,
.cid-r6Nc23mlZb .nav-link:focus {
  outline: none;
}
.cid-r6Nc23mlZb a.nav-link:focus {
  color: #ffffff !important;
}
.cid-r6Nc23mlZb .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #333333;
}
.cid-r6Nc23mlZb .navbar.opened {
  transition: all .3s;
  background: #333333 !important;
}
.cid-r6Nc23mlZb .navbar .dropdown-item {
  padding: .3rem 1.5rem;
}
.cid-r6Nc23mlZb .navbar .navbar-collapse {
  justify-content: flex-start;
  z-index: 1;
  flex-basis: auto;
  flex-grow: 0;
  -webkit-justify-content: flex-start;
  -webkit-flex-basis: auto;
  -webkit-flex-grow: 0;
}
.cid-r6Nc23mlZb .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-r6Nc23mlZb .navbar.collapsed .navbar-collapse {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-r6Nc23mlZb .navbar.collapsed .nav-link:hover::before {
  width: 0 !important;
}
.cid-r6Nc23mlZb .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-r6Nc23mlZb .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-r6Nc23mlZb .navbar.collapsed .dropdown-menu .dropdown-item {
  border: none !important;
}
.cid-r6Nc23mlZb .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-r6Nc23mlZb .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-r6Nc23mlZb .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-r6Nc23mlZb .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .15rem 1.5rem;
  text-align: center;
}
.cid-r6Nc23mlZb .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-r6Nc23mlZb .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-r6Nc23mlZb .navbar .navbar-collapse {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
  }
  .cid-r6Nc23mlZb .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-r6Nc23mlZb .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-r6Nc23mlZb .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-r6Nc23mlZb .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-r6Nc23mlZb .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-r6Nc23mlZb .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-r6Nc23mlZb .navbar .dropdown-menu .dropdown-item {
    padding: .15rem 1.5rem;
    text-align: center;
  }
  .cid-r6Nc23mlZb .navbar .navbar-brand {
    flex-shrink: initial;
    word-break: break-word;
    -webkit-flex-shrink: initial;
  }
  .cid-r6Nc23mlZb .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-r6Nc23mlZb .navbar.navbar-short {
  background: #333333 !important;
  min-height: 60px;
}
.cid-r6Nc23mlZb .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-r6Nc23mlZb .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-r6Nc23mlZb .navbar-brand {
  display: -webkit-flex;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
  -webkit-flex-shrink: 0;
  -webkit-align-items: center;
}
.cid-r6Nc23mlZb .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
}
.cid-r6Nc23mlZb .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: normal;
}
.cid-r6Nc23mlZb .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-r6Nc23mlZb .dropdown-item.active,
.cid-r6Nc23mlZb .dropdown-item:active {
  background-color: transparent;
}
.cid-r6Nc23mlZb .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-r6Nc23mlZb .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-r6Nc23mlZb .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-r6Nc23mlZb .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: transparent;
}
.cid-r6Nc23mlZb .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
  top: 30%;
}
.cid-r6Nc23mlZb .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-r6Nc23mlZb ul.navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.cid-r6Nc23mlZb .navbar-buttons {
  text-align: center;
}
.cid-r6Nc23mlZb button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
  -webkit-align-self: center;
}
.cid-r6Nc23mlZb button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-r6Nc23mlZb button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-r6Nc23mlZb button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-r6Nc23mlZb button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-r6Nc23mlZb button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-r6Nc23mlZb nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-r6Nc23mlZb nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-r6Nc23mlZb nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-r6Nc23mlZb nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-r6Nc23mlZb .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-r6Nc23mlZb a.nav-link {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-r6Nc23mlZb .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-r6Nc23mlZb .icons-menu {
  flex-wrap: wrap;
  display: -webkit-flex;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
}
.cid-r6Nc23mlZb .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
.cid-r6Nc23mlZb .nav-link:hover,
.cid-r6Nc23mlZb .icons-menu .mbr-iconfont:hover {
  color: #ffffff !important;
}
.cid-r6Nc23mlZb .dropdown-item:hover {
  color: #878787 !important;
}
.cid-r6Nc23mlZb .nav-item .nav-link::before {
  position: absolute;
  content: '';
  height: 2px;
  bottom: -0.5rem;
  width: 0;
  left: -1rem;
  background: #ffffff;
  transition: width 0.3s ease-in;
}
.cid-r6Nc23mlZb .dropdown-menu {
  padding: 0;
  transition: top .3s;
}
.cid-r6Nc23mlZb .nav-item .nav-link {
  letter-spacing: 1px;
}
@media (min-width: 992px) {
  .cid-r6Nc23mlZb .navbar-expand-lg {
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }
  .cid-r6Nc23mlZb .nav-link:hover::before {
    width: calc(100% + 2rem);
  }
  .cid-r6Nc23mlZb .dropdown-menu {
    top: 100%;
  }
  .cid-r6Nc23mlZb .dropdown-item {
    border-bottom: 1px solid #b3b3b3;
    box-shadow: 0px 2px 5px #ffffff;
    background: #ffffff !important;
  }
  .cid-r6Nc23mlZb .dropdown-item:hover {
    background: #e6e6e6 !important;
  }
  .cid-r6Nc23mlZb .nav-item.open .nav-link::before {
    left: calc(1.667em - 1rem);
    bottom: 0.538px;
    width: calc(100% - 3.334em + 2rem);
  }
  .cid-r6Nc23mlZb .navbar-short .dropdown-menu {
    top: 100%;
  }
}
.cid-r6Nc2gF7JD {
  z-index: 1;
  background-image: url("../../../assets/images/mbr-1920x1280.jpg");
}
.cid-r6Nc2gF7JD .mbr-arrow {
  background: #000000 !important;
  opacity: .7;
}
.cid-r6Nc2gF7JD .mbr-arrow i {
  color: #ffffff !important;
}
.cid-r6Nc2gF7JD .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-r6Nc2gF7JD .input-wrap {
  background: #ffffff;
}
.cid-r6Nc2gF7JD .booking-datepicker .mbr-form {
  display: -webkit-inline-flex;
  justify-content: center;
  width: 100%;
  -webkit-justify-content: center;
}
.cid-r6Nc2gF7JD .booking-datepicker .mbr-form .input-wrap {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  overflow: hidden;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-r6Nc2gF7JD .booking-datepicker .mbr-form .input-wrap input {
  border: none;
  position: absolute;
  background: transparent;
  z-index: 2;
  left: -90px;
  top: 25%;
  height: 50%;
  width: calc(100% + 90px);
  color: transparent;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
.cid-r6Nc2gF7JD .booking-datepicker .mbr-form .input-wrap input.guests-input {
  z-index: 0;
}
.cid-r6Nc2gF7JD .booking-datepicker .mbr-form .input-wrap input::-webkit-input-placeholder {
  color: transparent;
}
.cid-r6Nc2gF7JD .booking-datepicker .mbr-form .input-wrap input::-moz-placeholder {
  color: transparent;
}
.cid-r6Nc2gF7JD .booking-datepicker .mbr-form .input-wrap input:-moz-placeholder {
  color: transparent;
}
.cid-r6Nc2gF7JD .booking-datepicker .mbr-form .input-wrap input:-ms-input-placeholder {
  color: transparent;
}
.cid-r6Nc2gF7JD .booking-datepicker .mbr-form .input-wrap .label {
  z-index: 1;
}
.cid-r6Nc2gF7JD .booking-datepicker .mbr-form .input-wrap .date-row {
  display: -webkit-inline-flex;
  color: #000000;
  z-index: 1;
}
.cid-r6Nc2gF7JD .booking-datepicker .mbr-form .input-wrap .date-row .day,
.cid-r6Nc2gF7JD .booking-datepicker .mbr-form .input-wrap .date-row .guests-count {
  margin-bottom: 0;
  margin-right: 1rem;
}
.cid-r6Nc2gF7JD .booking-datepicker .mbr-form .input-wrap .date-row .date-col {
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.cid-r6Nc2gF7JD .booking-datepicker .mbr-form .input-wrap .date-row .date-col span:first-child {
  margin-bottom: 1rem;
}
.cid-r6Nc2gF7JD .booking-datepicker .mbr-form .mbr-section-btn {
  width: 100%;
  display: -webkit-flex;
}
@media (min-width: 768px) {
  .cid-r6Nc2gF7JD .booking-datepicker .mbr-form .mbr-section-btn {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.cid-r6Nc2gF7JD .booking-datepicker .mbr-form .mbr-section-btn .input-group-btn {
  display: -webkit-flex;
}
.cid-r6Nc2gF7JD .booking-datepicker .mbr-form .mbr-section-btn .input-group-btn .btn {
  line-height: 18px;
  padding: 2rem;
  margin: 0;
}
.cid-r6Nc2gF7JD .datepicker {
  background-color: #ffffff;
  color: #000000;
}
.cid-r6Nc2gF7JD .datepicker .active.day {
  background-color: #2b6477 !important;
  color: #ffffff !important;
}
.cid-r6Nc2gF7JD .datepicker:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (min-width: 768px) {
  .cid-r6Nc2gF7JD .booking-datepicker input:not(.guests-input) {
    border-right: 1px solid #cccccc !important;
  }
}
@media (max-width: 767px) {
  .cid-r6Nc2gF7JD .booking-datepicker .mbr-form {
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
  }
  .cid-r6Nc2gF7JD .booking-datepicker .mbr-form .col-3,
  .cid-r6Nc2gF7JD .booking-datepicker .mbr-form .mbr-section-btn {
    max-width: 60% !important;
  }
  .cid-r6Nc2gF7JD .booking-datepicker .mbr-form .mbr-section-btn .input-group-btn .btn {
    margin: 0 !important;
  }
}
.cid-r6Nc2KXPF3 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-r6Nc2KXPF3 .row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-r6Nc2KXPF3 .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-r6Nc2KXPF3 .image-element {
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.cid-r6Nc2KXPF3 .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
@media (max-width: 991px) {
  .cid-r6Nc2KXPF3 .image-element {
    padding-right: 0;
  }
}
.cid-r6Nc2KXPF3 .text-element {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
}
.cid-r6Nc2KXPF3 .mbr-section-subtitle,
.cid-r6Nc2KXPF3 .mbr-text {
  color: #878787;
}
.cid-r6Nc2KXPF3 .mbr-text {
  line-height: 27px;
  padding: 2.5rem;
  margin: 0;
}
@media (max-width: 991px) {
  .cid-r6Nc2KXPF3 .row {
    flex-direction: column-reverse;
    align-items: center;
    -webkit-flex-direction: column-reverse;
    -webkit-align-items: center;
  }
  .cid-r6Nc2KXPF3 .text-element {
    padding-top: 0;
  }
}
.cid-r6Nc37AleT {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #efefef;
}
.cid-r6Nc37AleT .img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.cid-r6Nc37AleT .row {
  background-color: #ffffff;
}
.cid-r6Nc37AleT .image-element {
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.cid-r6Nc37AleT .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-r6Nc37AleT .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-r6Nc37AleT .text-element {
  padding: 4rem 1rem;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
}
.cid-r6Nc37AleT .text-element .mbr-text {
  padding: 3rem;
  margin: 0;
}
@media (max-width: 767px) {
  .cid-r6Nc37AleT .image-element {
    padding: 0 15px;
  }
  .cid-r6Nc37AleT .text-element {
    padding: 2rem 1rem;
  }
  .cid-r6Nc37AleT .text-element .mbr-text {
    padding: 1rem;
  }
}
.cid-r6Nc3rC4nS {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-r6Nc3rC4nS .card .card-img {
  overflow: hidden;
}
.cid-r6Nc3rC4nS .card .card-img img {
  transition: all .5s;
}
.cid-r6Nc3rC4nS .card .card-img:hover img {
  transform: scale3d(1.1, 1.1, 1.1);
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
}
.cid-r6Nc3rC4nS .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-r6Nc3rC4nS .card {
  height: 100%;
}
.cid-r6Nc3rC4nS .card .card-wrapper {
  height: 100%;
}
.cid-r6Nc3rC4nS .card .card-wrapper .card-img {
  border-radius: 0;
}
.cid-r6Nc3rC4nS .card .card-box {
  background: #ffffff;
  padding: 2rem;
}
.cid-r6Nc3rC4nS .card .card-box .card-title {
  margin: 0;
}
.cid-r6Nc3rC4nS .card .info-wrapper {
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-r6Nc3rC4nS .card .info-wrapper .mbr-iconfont {
  padding-right: .5rem;
  font-size: 20px;
}
.cid-r6Nc3rC4nS .card .info-wrapper .info-text {
  display: inline-block;
  padding-right: 1rem;
  margin: 0;
}
.cid-r6Nc3rC4nS .card .card-btn .btn {
  margin-left: 4px !important;
  margin-right: 4px !important;
}
.cid-r6Nc3rC4nS .card .card-footer {
  background: #ffffff;
  margin-top: 1rem;
  padding: 0;
  padding-top: 1rem;
  display: -webkit-inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  -webkit-justify-content: space-between;
  -webkit-align-items: center;
}
.cid-r6Nc3rC4nS .card .card-footer .icons-list {
  margin: 0;
}
.cid-r6Nc3rC4nS .card .card-footer .icons-list li {
  margin-right: 1rem;
}
.cid-r6Nc3rC4nS .card .card-footer .icons-list li .mbr-iconfont {
  font-size: 25px;
  color: #767676;
}
.cid-r6Nc3rC4nS .card .card-footer .link .link-text {
  display: inline-block;
}
.cid-r6Nc3rC4nS .card .card-footer .link .mbr-iconfont {
  font-size: 12px;
}
.cid-r6Nc3rC4nS .card-box {
  border-style: solid;
  border-color: #efefef;
  border-width: 0 1px 1px 1px;
}
.cid-r6Nc3rC4nS .card-footer {
  border-top: 1px solid #efefef;
}
@media (max-width: 767px) {
  .cid-r6Nc3rC4nS .card:not(:last-child) {
    padding-bottom: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-r6Nc3rC4nS .card:not(:last-child) {
    padding-bottom: 2rem;
  }
}
.cid-r6Nc4jfXg4 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-r6Nc4jfXg4 .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-r6Nc4jfXg4 .mbr-section-title,
.cid-r6Nc4jfXg4 .mbr-section-subtitle,
.cid-r6Nc4jfXg4 .underline {
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-r6Nc4jfXg4 .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-r6Nc4jfXg4 .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-r6Nc4jfXg4 .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-r6Nc4jfXg4 .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-r6Nc4jfXg4 .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #efefef;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
  background: linear-gradient(180deg, #efefef, #c19b76);
}
.cid-r6Nc4jfXg4 .icon-focus {
  display: none;
}
.cid-r6Nc4jfXg4 .mbr-gallery-title {
  transition: all 0.5s ease;
  position: absolute;
  text-align: center;
  display: none;
  width: 100%;
  bottom: 0;
  right: 0;
  padding: 1rem;
  color: #ffffff;
  background: transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.cid-r6Nc4jfXg4 ul {
  font-size: 0;
}
.cid-r6Nc4jfXg4 .mbr-gallery-filter ul li .btn {
  border: none;
  background-color: transparent;
  color: #333333 !important;
  padding: 0.5rem 1rem 0.6rem;
  border-radius: 0;
  margin: 0!important;
  transition: padding, border 0s, transform .2s;
}
.cid-r6Nc4jfXg4 .mbr-gallery-filter ul li.active .btn {
  padding: 0.5rem 1rem 0.5rem;
  border-radius: 0 !important;
  position: relative;
}
.cid-r6Nc4jfXg4 .mbr-gallery-filter ul li.active .btn:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #c19b76;
}
.cid-r6Nc4jfXg4 .mbr-gallery-filter ul li {
  padding: 0;
}
.cid-r6Nc4jfXg4 .mbr-gallery-item > div:hover .mbr-gallery-title {
  padding-bottom: 1.5rem;
  display: block;
}
.cid-r6Nc4jfXg4 .mbr-gallery-item > div:hover:before {
  opacity: 0.8 !important;
}
.cid-r6Nc4jfXg4 .btn {
  background: none;
  border-radius: 0 !important;
}
.cid-r6Nc4jfXg4 .btn:hover {
  background: transparent !important;
}
.cid-r6Nc4jfXg4 .btn:hover:before {
  background: transparent !important;
}
.cid-r6Nc4jfXg4 .btn:before {
  background-color: transparent !important;
}
.cid-r6Nc4jfXg4 .btn:focus {
  box-shadow: none;
  background: transparent !important;
}
.cid-r6Nc4NW8fj {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background7.jpg");
}
.cid-r6Nc4NW8fj .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-r6Nc4NW8fj .star1 .star-1 {
  fill: #ffffff;
}
.cid-r6Nc4NW8fj .star1 .star-2,
.cid-r6Nc4NW8fj .star1 .star-3,
.cid-r6Nc4NW8fj .star1 .star-4,
.cid-r6Nc4NW8fj .star1 .star-5 {
  fill: rgba(0, 0, 0, 0.3);
}
.cid-r6Nc4NW8fj .star2 .star-1,
.cid-r6Nc4NW8fj .star2 .star-2 {
  fill: #ffffff;
}
.cid-r6Nc4NW8fj .star2 .star-3,
.cid-r6Nc4NW8fj .star2 .star-4,
.cid-r6Nc4NW8fj .star2 .star-5 {
  fill: rgba(0, 0, 0, 0.3);
}
.cid-r6Nc4NW8fj .star3 .star-1,
.cid-r6Nc4NW8fj .star3 .star-2,
.cid-r6Nc4NW8fj .star3 .star-3 {
  fill: #ffffff;
}
.cid-r6Nc4NW8fj .star3 .star-4,
.cid-r6Nc4NW8fj .star3 .star-5 {
  fill: rgba(0, 0, 0, 0.3);
}
.cid-r6Nc4NW8fj .star4 .star-1,
.cid-r6Nc4NW8fj .star4 .star-2,
.cid-r6Nc4NW8fj .star4 .star-3,
.cid-r6Nc4NW8fj .star4 .star-4 {
  fill: #ffffff;
}
.cid-r6Nc4NW8fj .star4 .star-5 {
  fill: rgba(0, 0, 0, 0.3);
}
.cid-r6Nc4NW8fj .star5 .star-1,
.cid-r6Nc4NW8fj .star5 .star-2,
.cid-r6Nc4NW8fj .star5 .star-3,
.cid-r6Nc4NW8fj .star5 .star-4,
.cid-r6Nc4NW8fj .star5 .star-5 {
  fill: #ffffff;
}
.cid-r6Nc4NW8fj .table {
  margin: 0;
}
.cid-r6Nc4NW8fj .table .table-wrapper {
  padding: 2rem;
  background: #ffffff;
  position: relative;
}
.cid-r6Nc4NW8fj .table .table-wrapper .table-head-wrapper {
  background: #c19b76;
  margin: -2rem;
  margin-bottom: 0 !important;
  padding: 2rem 1rem;
}
.cid-r6Nc4NW8fj .table .table-wrapper .table-head-wrapper span {
  width: 100%;
  display: block;
}
.cid-r6Nc4NW8fj .table .table-wrapper .table-purchase {
  padding-bottom: 2rem;
}
.cid-r6Nc4NW8fj .table .table-wrapper .table-purchase .table-pricing {
  margin: 0;
  margin-top: .5rem !important;
}
.cid-r6Nc4NW8fj .table .table-wrapper .list-group {
  list-style: none;
  padding: 2rem 0;
  padding-bottom: 0;
}
.cid-r6Nc4NW8fj .table .table-wrapper .list-group li {
  display: -webkit-flex;
  align-items: center;
  padding: .4rem;
  -webkit-align-items: center;
}
.cid-r6Nc4NW8fj .table .table-wrapper .list-group li .mbr-iconfont {
  padding-right: 1rem;
  font-size: 20px;
}
.cid-r6Nc4NW8fj .table .table-wrapper .list-group li .items-text {
  width: 100%;
}
.cid-r6Nc4NW8fj .table .table-wrapper .mbr-section-btn {
  text-align: center;
}
@media (max-width: 767px) {
  .cid-r6Nc4NW8fj .table:not(.last-table) {
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-r6Nc4NW8fj .table.first-row-table {
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-r6Nc4NW8fj .table {
    margin-bottom: 0;
  }
}
.cid-r6Nc5kqX5i {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-r6Nc5kqX5i .google-map {
  width: 100%;
  height: 25rem;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
}
.cid-r6Nc5kqX5i .google-map iframe {
  width: inherit;
  height: 100%;
}
.cid-r6Nc6NiVRt {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #232323;
}
.cid-r6Nc6NiVRt .mbr-section-subtitle {
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
  color: #cccccc;
}
.cid-r6Nc6NiVRt .first-column .mbr-text {
  margin: 0;
}
.cid-r6Nc6NiVRt .icons-wrapper ul {
  margin: 0;
  padding: 0;
}
.cid-r6Nc6NiVRt .icons-wrapper ul li {
  margin-right: 1.25rem;
  display: inline-block;
}
.cid-r6Nc6NiVRt .icons-wrapper ul li .mbr-iconfont {
  color: #ffffff;
  font-size: 1.5rem;
}
.cid-r6Nc6NiVRt .icons-wrapper ul li .mbr-iconfont:hover {
  color: #878787;
}
.cid-r6Nc6NiVRt .form1 .mbr-form {
  display: -webkit-inline-flex;
  width: 100%;
}
.cid-r6Nc6NiVRt .form1 .mbr-form .input-wrap {
  width: 55%;
  display: -webkit-flex;
}
.cid-r6Nc6NiVRt .form1 .mbr-form .input-wrap input {
  font-size: .9rem;
  border: none;
  border-radius: 0;
  width: 100%;
  padding: .3rem .5rem;
  background: #000000;
  color: #d8d7d7;
}
.cid-r6Nc6NiVRt .form1 .mbr-form .input-wrap input::-webkit-input-placeholder {
  color: #d8d7d7;
}
.cid-r6Nc6NiVRt .form1 .mbr-form .input-wrap input::-moz-placeholder {
  color: #d8d7d7;
}
.cid-r6Nc6NiVRt .form1 .mbr-form .input-wrap input:-moz-placeholder {
  color: #d8d7d7;
}
.cid-r6Nc6NiVRt .form1 .mbr-form .input-wrap input:-ms-input-placeholder {
  color: #d8d7d7;
}
.cid-r6Nc6NiVRt .form1 .mbr-form .input-group-btn .btn-lg {
  padding: 1rem 2.2rem;
  margin: 0 !important;
}
@media (max-width: 991px) {
  .cid-r6Nc6NiVRt .first-column,
  .cid-r6Nc6NiVRt .second-column {
    padding-bottom: 2rem;
  }
  .cid-r6Nc6NiVRt .form1 .mbr-form {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
@media (max-width: 767px) {
  .cid-r6Nc6NiVRt .first-column,
  .cid-r6Nc6NiVRt .second-column,
  .cid-r6Nc6NiVRt .third-column {
    text-align: center;
  }
  .cid-r6Nc6NiVRt .form1 .mbr-form {
    justify-content: center;
    -webkit-justify-content: center;
  }
  .cid-r6Nc6NiVRt .form1 .mbr-form .input-group-btn .btn-lg {
    padding: .6rem 1rem !important;
  }
}
.cid-r6Nc9ZjP1f .modal-body .close {
  background: #1b1b1b;
}
.cid-r6Nc9ZjP1f .modal-body .close span {
  font-style: normal;
}
.cid-r6Nc9ZjP1f .carousel-inner > .active,
.cid-r6Nc9ZjP1f .carousel-inner > .next,
.cid-r6Nc9ZjP1f .carousel-inner > .prev {
  display: table;
}
.cid-r6Nc9ZjP1f .carousel-control .icon-next,
.cid-r6Nc9ZjP1f .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-r6Nc9ZjP1f .carousel-control:hover {
  background: #c19b76;
  color: #fff;
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-r6Nc9ZjP1f .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-r6Nc9ZjP1f .boxed-slider {
  position: relative;
  padding: 93px 0;
}
.cid-r6Nc9ZjP1f .boxed-slider > div {
  position: relative;
}
.cid-r6Nc9ZjP1f .container img {
  width: 100%;
}
.cid-r6Nc9ZjP1f .container img + .row {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.cid-r6Nc9ZjP1f .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-r6Nc9ZjP1f .mbr-table-cell {
  padding: 0;
}
.cid-r6Nc9ZjP1f .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-r6Nc9ZjP1f .carousel-caption {
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  display: -webkit-flex;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-align-items: center;
}
.cid-r6Nc9ZjP1f .mbr-overlay {
  z-index: 1;
}
.cid-r6Nc9ZjP1f .container-slide.container {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-r6Nc9ZjP1f .carousel-item {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -o-transition: -o-transform 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
@media (max-width: 576px) {
  .cid-r6Nc9ZjP1f .carousel-item .container {
    width: 100%;
  }
}
.cid-r6Nc9ZjP1f .carousel-item-next.carousel-item-left,
.cid-r6Nc9ZjP1f .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.cid-r6Nc9ZjP1f .active.carousel-item-right,
.cid-r6Nc9ZjP1f .carousel-item-next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.cid-r6Nc9ZjP1f .active.carousel-item-left,
.cid-r6Nc9ZjP1f .carousel-item-prev {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.cid-r6Nc9ZjP1f .mbr-slider .carousel-control {
  top: 50%;
  margin-top: -1.9rem;
  width: 60px;
  height: 60px;
  font-size: 25px;
  border: 2px solid #fff;
  border-radius: 0 !important;
  transition: all .3s;
}
.cid-r6Nc9ZjP1f .mbr-slider .carousel-control.carousel-control-prev {
  left: 0;
}
.cid-r6Nc9ZjP1f .mbr-slider .carousel-control.carousel-control-next {
  right: 0;
}
@media (max-width: 767px) {
  .cid-r6Nc9ZjP1f .mbr-slider .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-r6Nc9ZjP1f .mbr-slider .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-r6Nc9ZjP1f .mbr-slider .carousel-indicators li {
  max-width: 20px;
  width: 20px;
  height: 20px;
  max-height: 20px;
  margin: 3px;
  background-color: #c19b76;
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: .5;
  transition: all .3s;
}
.cid-r6Nc9ZjP1f .mbr-slider .carousel-indicators li.active,
.cid-r6Nc9ZjP1f .mbr-slider .carousel-indicators li:hover {
  opacity: .9;
}
.cid-r6Nc9ZjP1f .mbr-slider .carousel-indicators li::after,
.cid-r6Nc9ZjP1f .mbr-slider .carousel-indicators li::before {
  content: none;
}
.cid-r6Nc9ZjP1f .mbr-slider .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 576px) {
  .cid-r6Nc9ZjP1f .mbr-slider .carousel-indicators {
    display: none !important;
  }
}
.cid-r6Nc9ZjP1f .mbr-slider > .container img {
  width: 100%;
}
.cid-r6Nc9ZjP1f .mbr-slider > .container img + .row {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-r6Nc9ZjP1f .mbr-slider > .container .carousel-indicators {
  margin-bottom: 3px;
}
@media (max-width: 576px) {
  .cid-r6Nc9ZjP1f .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-r6Nc9ZjP1f .mbr-slider .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-r6Nc9ZjP1f .mbr-slider .mbr-table-cell {
  padding: 0;
}
.cid-r6Nc9ZjP1f .carousel-item .container.container-slide {
  position: initial;
  width: auto;
  min-height: 0;
}
.cid-r6Nc9ZjP1f .full-screen .slider-fullscreen-image {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.cid-r6Nc9ZjP1f .full-screen .slider-fullscreen-image.active {
  display: -o-flex;
}
.cid-r6Nc9ZjP1f .full-screen .container {
  width: auto;
  padding-right: 0;
  padding-left: 0;
}
.cid-r6Nc9ZjP1f .full-screen .carousel-item .container.container-slide {
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-r6Nc9ZjP1f .full-screen .carousel-item .container.container-slide img {
  display: none;
}
.cid-r6Nc9ZjP1f .mbr-background-video-preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cid-r6Nc9ZjP1f .mbr-overlay ~ .container-slide {
  z-index: auto;
}
.cid-r6Nc23mlZb .nav-item:focus,
.cid-r6Nc23mlZb .nav-link:focus {
  outline: none;
}
.cid-r6Nc23mlZb a.nav-link:focus {
  color: #ffffff !important;
}
.cid-r6Nc23mlZb .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #333333;
}
.cid-r6Nc23mlZb .navbar.opened {
  transition: all .3s;
  background: #333333 !important;
}
.cid-r6Nc23mlZb .navbar .dropdown-item {
  padding: .3rem 1.5rem;
}
.cid-r6Nc23mlZb .navbar .navbar-collapse {
  justify-content: flex-start;
  z-index: 1;
  flex-basis: auto;
  flex-grow: 0;
  -webkit-justify-content: flex-start;
  -webkit-flex-basis: auto;
  -webkit-flex-grow: 0;
}
.cid-r6Nc23mlZb .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-r6Nc23mlZb .navbar.collapsed .navbar-collapse {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-r6Nc23mlZb .navbar.collapsed .nav-link:hover::before {
  width: 0 !important;
}
.cid-r6Nc23mlZb .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-r6Nc23mlZb .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-r6Nc23mlZb .navbar.collapsed .dropdown-menu .dropdown-item {
  border: none !important;
}
.cid-r6Nc23mlZb .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-r6Nc23mlZb .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-r6Nc23mlZb .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-r6Nc23mlZb .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .15rem 1.5rem;
  text-align: center;
}
.cid-r6Nc23mlZb .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-r6Nc23mlZb .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-r6Nc23mlZb .navbar .navbar-collapse {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
  }
  .cid-r6Nc23mlZb .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-r6Nc23mlZb .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-r6Nc23mlZb .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-r6Nc23mlZb .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-r6Nc23mlZb .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-r6Nc23mlZb .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-r6Nc23mlZb .navbar .dropdown-menu .dropdown-item {
    padding: .15rem 1.5rem;
    text-align: center;
  }
  .cid-r6Nc23mlZb .navbar .navbar-brand {
    flex-shrink: initial;
    word-break: break-word;
    -webkit-flex-shrink: initial;
  }
  .cid-r6Nc23mlZb .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-r6Nc23mlZb .navbar.navbar-short {
  background: #333333 !important;
  min-height: 60px;
}
.cid-r6Nc23mlZb .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-r6Nc23mlZb .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-r6Nc23mlZb .navbar-brand {
  display: -webkit-flex;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
  -webkit-flex-shrink: 0;
  -webkit-align-items: center;
}
.cid-r6Nc23mlZb .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
}
.cid-r6Nc23mlZb .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: normal;
}
.cid-r6Nc23mlZb .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-r6Nc23mlZb .dropdown-item.active,
.cid-r6Nc23mlZb .dropdown-item:active {
  background-color: transparent;
}
.cid-r6Nc23mlZb .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-r6Nc23mlZb .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-r6Nc23mlZb .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-r6Nc23mlZb .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: transparent;
}
.cid-r6Nc23mlZb .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
  top: 30%;
}
.cid-r6Nc23mlZb .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-r6Nc23mlZb ul.navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.cid-r6Nc23mlZb .navbar-buttons {
  text-align: center;
}
.cid-r6Nc23mlZb button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
  -webkit-align-self: center;
}
.cid-r6Nc23mlZb button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-r6Nc23mlZb button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-r6Nc23mlZb button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-r6Nc23mlZb button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-r6Nc23mlZb button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-r6Nc23mlZb nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-r6Nc23mlZb nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-r6Nc23mlZb nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-r6Nc23mlZb nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-r6Nc23mlZb .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-r6Nc23mlZb a.nav-link {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-r6Nc23mlZb .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-r6Nc23mlZb .icons-menu {
  flex-wrap: wrap;
  display: -webkit-flex;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
}
.cid-r6Nc23mlZb .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
.cid-r6Nc23mlZb .nav-link:hover,
.cid-r6Nc23mlZb .icons-menu .mbr-iconfont:hover {
  color: #ffffff !important;
}
.cid-r6Nc23mlZb .dropdown-item:hover {
  color: #878787 !important;
}
.cid-r6Nc23mlZb .nav-item .nav-link::before {
  position: absolute;
  content: '';
  height: 2px;
  bottom: -0.5rem;
  width: 0;
  left: -1rem;
  background: #ffffff;
  transition: width 0.3s ease-in;
}
.cid-r6Nc23mlZb .dropdown-menu {
  padding: 0;
  transition: top .3s;
}
.cid-r6Nc23mlZb .nav-item .nav-link {
  letter-spacing: 1px;
}
@media (min-width: 992px) {
  .cid-r6Nc23mlZb .navbar-expand-lg {
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }
  .cid-r6Nc23mlZb .nav-link:hover::before {
    width: calc(100% + 2rem);
  }
  .cid-r6Nc23mlZb .dropdown-menu {
    top: 100%;
  }
  .cid-r6Nc23mlZb .dropdown-item {
    border-bottom: 1px solid #b3b3b3;
    box-shadow: 0px 2px 5px #ffffff;
    background: #ffffff !important;
  }
  .cid-r6Nc23mlZb .dropdown-item:hover {
    background: #e6e6e6 !important;
  }
  .cid-r6Nc23mlZb .nav-item.open .nav-link::before {
    left: calc(1.667em - 1rem);
    bottom: 0.538px;
    width: calc(100% - 3.334em + 2rem);
  }
  .cid-r6Nc23mlZb .navbar-short .dropdown-menu {
    top: 100%;
  }
}
.cid-r6Nc6NiVRt {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #232323;
}
.cid-r6Nc6NiVRt .mbr-section-subtitle {
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
  color: #cccccc;
}
.cid-r6Nc6NiVRt .first-column .mbr-text {
  margin: 0;
}
.cid-r6Nc6NiVRt .icons-wrapper ul {
  margin: 0;
  padding: 0;
}
.cid-r6Nc6NiVRt .icons-wrapper ul li {
  margin-right: 1.25rem;
  display: inline-block;
}
.cid-r6Nc6NiVRt .icons-wrapper ul li .mbr-iconfont {
  color: #ffffff;
  font-size: 1.5rem;
}
.cid-r6Nc6NiVRt .icons-wrapper ul li .mbr-iconfont:hover {
  color: #878787;
}
.cid-r6Nc6NiVRt .form1 .mbr-form {
  display: -webkit-inline-flex;
  width: 100%;
}
.cid-r6Nc6NiVRt .form1 .mbr-form .input-wrap {
  width: 55%;
  display: -webkit-flex;
}
.cid-r6Nc6NiVRt .form1 .mbr-form .input-wrap input {
  font-size: .9rem;
  border: none;
  border-radius: 0;
  width: 100%;
  padding: .3rem .5rem;
  background: #000000;
  color: #d8d7d7;
}
.cid-r6Nc6NiVRt .form1 .mbr-form .input-wrap input::-webkit-input-placeholder {
  color: #d8d7d7;
}
.cid-r6Nc6NiVRt .form1 .mbr-form .input-wrap input::-moz-placeholder {
  color: #d8d7d7;
}
.cid-r6Nc6NiVRt .form1 .mbr-form .input-wrap input:-moz-placeholder {
  color: #d8d7d7;
}
.cid-r6Nc6NiVRt .form1 .mbr-form .input-wrap input:-ms-input-placeholder {
  color: #d8d7d7;
}
.cid-r6Nc6NiVRt .form1 .mbr-form .input-group-btn .btn-lg {
  padding: 1rem 2.2rem;
  margin: 0 !important;
}
@media (max-width: 991px) {
  .cid-r6Nc6NiVRt .first-column,
  .cid-r6Nc6NiVRt .second-column {
    padding-bottom: 2rem;
  }
  .cid-r6Nc6NiVRt .form1 .mbr-form {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
@media (max-width: 767px) {
  .cid-r6Nc6NiVRt .first-column,
  .cid-r6Nc6NiVRt .second-column,
  .cid-r6Nc6NiVRt .third-column {
    text-align: center;
  }
  .cid-r6Nc6NiVRt .form1 .mbr-form {
    justify-content: center;
    -webkit-justify-content: center;
  }
  .cid-r6Nc6NiVRt .form1 .mbr-form .input-group-btn .btn-lg {
    padding: .6rem 1rem !important;
  }
}
